<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- Configuraciones de conexión a la base de datos -->
        
        <!-- Especifica el driver de JDBC para MySQL -->
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        
        <!-- URL de conexión a la base de datos, incluyendo el nombre de la base de datos y el puerto -->
        <property name="connection.url">jdbc:mysql://localhost:55000/academia</property>
        
        <!-- Usuario de la base de datos -->
        <property name="connection.username">root</property>
        
        <!-- Contraseña de la base de datos -->
        <property name="connection.password">8586</property>

        <!-- Muestra en la consola las consultas SQL generadas por Hibernate -->
        <property name="show_sql">true</property>

        <!-- Mapeo de la clase Alumno a su tabla correspondiente en la base de datos -->
        <mapping class="com.academia.modelo.Alumno" />

    </session-factory>
</hibernate-configuration>